@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,600,1,0');

$accent1: #ff0094;
$accent2: #fff100;
$accent3: #00ffae;
$accent4: #4c00ff;

$text-grey: #999999;
$dark-border: $text-grey;

$bg-light: white;
$bg-dark: #161419;

$stripe-fill: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg==");


@keyframes rainbow-dark {

    0%,
    9% {
        color: white;
        fill: white;
        border-color: white;
    }

    20%,
    39% {
        color: $accent1;
        fill: $accent1;
        border-color: $accent1;
    }

    40%,
    59% {
        color: $accent2;
        fill: $accent2;
        border-color: $accent2;
    }

    60%,
    79% {
        color: $accent3;
        fill: $accent3;
        border-color: $accent3;
    }

    80%,
    100% {
        color: $accent4;
        fill: $accent4;
        border-color: $accent4;
    }
}

@keyframes rainbow {

    0%,
    9% {
        color: black;
        fill: black;
        border-color: black;
    }

    20%,
    39% {
        color: $accent1;
        fill: $accent1;
        border-color: $accent1;
    }

    40%,
    59% {
        color: $accent2;
        fill: $accent2;
        border-color: $accent2;
    }

    60%,
    79% {
        color: $accent3;
        fill: $accent3;
        border-color: $accent3;
    }

    80%,
    100% {
        color: $accent4;
        fill: $accent4;
        border-color: $accent4;
    }
}


:root {
    font-family: 'Red Hat Text', sans-serif;
}

body {
    margin: 0;
}

a {
    all: initial;
    cursor: pointer;
    font-family: 'Red Hat Text', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: 'Red Hat Display', sans-serif;

    margin: 0;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL'1,
        'wght'600,
        'GRAD'0,
        'opsz'24
}


nav {
    display: flex;
    align-items: center;
    gap: 40px;

    height: 50px;
    padding: 5px 15px;

    // border-bottom: 2px solid black;

    .topbar-link {
        color: black;

        transition: transform 100ms;

        padding: 0 5px;

        &:hover:not(.current) {
            animation: rainbow 400ms forwards;

            transform: scale(1.05) rotateZ(-2deg);
        }

        &.current {
            background-color: black;
            color: white;

            transform: scale(1.05) rotateZ(-2deg);
        }
    }

    #home-link {
        display: flex;
        align-items: inherit;
        gap: 20px;

        height: inherit;

        color: black;
        fill: black;

        transition: transform 100ms;

        &:hover {
            animation: rainbow 400ms forwards;

            transform: scale(1.05) rotateZ(-2deg);
        }

        * {
            fill: inherit;
        }

        .logo {
            width: 30px;

            path {
                fill: inherit;
                fill-rule: nonzero;
                stroke: none;
            }
        }
    }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 100px;
    gap: 100px;

    h1 {
        font-family: 'Red Hat Display', sans-serif;
        font-size: 48pt;
        line-height: 50pt;
    }

    img {
        width: 180px;
    }
}

.frontpage-grid {
    display: grid;
    grid-template:
        [row1-start] "g1 g1 g1 g1 g1-1 g1-1"250px [row1-end]
        [row2-start] "g1-2 g1-2 g1-lore g1-lore g1-lore g1-lore"250px [row2-end]
        [row3-start] "g2-1 g2-1 g2 g2 g2 g2"250px [row3-end]
        [row4-start] "g2-lore g2-lore g2-lore g2-lore g2-2 g2-2"250px [row4-end]
        [row5-start] "g3 g3 g3 g4 g4 g4"250px [row5-end]
        [row6-start] "g5 g5 g6 g6 g7 g7"250px [row6-end] 
    / 1fr 1fr 1fr 1fr 1fr 1fr;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding: 0 15% 20px;
    gap: 20px;

    .grid-1 {
        grid-area: g1;
        &:hover { transform: scale(1.05) translateY(-10px); }
    }

    .grid-1-1 {
        grid-area: g1-1;
        &:hover { transform: scale(0.95) rotateZ(-2deg); }
    }

    .grid-1-2 {
        grid-area: g1-2;
        &:hover { transform: scale(1.05) translateX(10px); }
    }

    .grid-1-lore {
        grid-area: g1-lore;
        
        border-top: none;
        border-left: none;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        padding-right: 20px;
        padding-bottom: 10px;
    }

    .grid-2 {
        grid-area: g2;
    }

    .grid-2-1 {
        grid-area: g2-1;
        &:hover { transform: scale(1.05) translateY(10px); }
    }

    .grid-2-2 {
        grid-area: g2-2;
    }

    .grid-2-lore {
        grid-area: g2-lore;

        border-top: none;
        border-right: none;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;

        padding-left: 20px;
        padding-bottom: 10px;
    }

    .grid-3 {
        grid-area: g3;
        &:hover { transform: scale(1.05) translateX(-10px); }
    }

    .grid-4 {
        grid-area: g4;
    }

    .grid-5 {
        grid-area: g5;
        &:hover { transform: scale(1.05) translateY(-10px); }
    }

    .grid-6 {
        grid-area: g6;
        &:hover { transform: scale(1.05) translateX(10px); }
    }

    .grid-7 {
        grid-area: g7;
    }

    >* {
        display: flex;
        flex-direction: row;

        border: 2px solid black;
        border-radius: 20px;

        overflow: hidden;
        background-color: $bg-light;

        transition: transform 100ms;

        &.always-dark {
            color: white;
        }

        &:hover {
            &.always-dark {
                animation: rainbow-dark 400ms forwards;
            }

            animation: rainbow 400ms forwards;
            transform: scale(1.05) rotateZ(-2deg);
        }

        >* {
            flex-grow: 1;
            flex-basis: 0;
            padding: 20px;
        }

        >.image {
            padding: 20px;

            background-size: cover;
            background-position: center;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        >.text {
            align-self: center;
        }
    }

    >.noborder {
        border: none;
    }

    >div {
        border-style: dashed;
    }
}

#cards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding: 0 15% 20px;
    gap: 30px;

    >a {
        display: flex;
        flex-direction: row;

        border: 2px solid black;
        border-radius: 20px;
        min-height: 300px;

        overflow: hidden;
        background-color: $bg-light;

        transition: transform 100ms;

        &:hover {
            animation: rainbow 400ms forwards;

            transform: scale(1.05) rotateZ(-2deg);
        }

        >* {
            flex-grow: 1;
            flex-basis: 0;
            padding: 20px;
        }

        >.text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            >:last-child {
                margin-bottom: 0;
            }
        }

        >.image {
            padding: 20px;

            background-size: cover;
            background-position: center;
        }
    }

    #no-cards-message {
        display: none;
        margin-top: 20px;

        #reset-filters {
            cursor: pointer;
            font-weight: bold;

            transition: transform 100ms;

            &:hover {
                animation: rainbow 400ms forwards;

                transform: scale(1.05) rotateZ(-2deg);
            }
        }
    }
}

.spacer {
    height: 100px;
}

#tags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 30px;
    row-gap: 5px;

    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    .filter-label {
        color: $text-grey;
    }

    .filter-button {
        cursor: pointer;

        transition: transform 100ms;
        padding: 0 5px;

        &:hover {
            animation: rainbow 400ms forwards;

            transform: scale(1.05) rotateZ(-2deg);
        }

        &.bold {
            background-color: black;
            color: white;

            transform: scale(1.05) rotateZ(-2deg);
        }
    }
}

.content {
    padding: 10vh 15% 0;

    h1 {
        font-family: 'Red Hat Display', sans-serif;
        font-size: 48pt;
        line-height: 50pt;
    }

    h2 {
        padding-top: 30px;
    }

    h3 {
        padding-top: 20px;
    }

    a {
        font-weight: bold;
        display: inline-block;
        background-color: $bg-light;

        transition: transform 100ms;

        &:hover {
            animation: rainbow 400ms forwards;

            transform: scale(1.05) rotateZ(-2deg);
        }
    }

    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        width: fit-content;

        border: 2px solid black;
        border-radius: 10px;

        background-color: $bg-light;

        margin: 10px 0;
        padding: 10px;
        padding-right: 15px;

        font-weight: bold;

        transition: transform 100ms;

        &:hover {
            animation: rainbow 400ms forwards;

            transform: scale(1.05) rotateZ(-2deg);
        }
    }

    .gallery {
        text-align: center;

        a {
            background: none;
        }

        img {
            vertical-align: top;
            max-height: 400px;
            max-width: 30vw;

            margin: 10px 0 0 10px;
            border-radius: 10px;
        }

        &.mobile img {
            max-height: 400px;
        }
    }
}

.hl {
    margin: 50px 0;
    border-bottom: 1px solid black;
}

.grey {
    color: $text-grey;
}

ul {
    >ul {
        margin-bottom: 15px;
    }

    li {
        margin-bottom: 5px;
    }
}

.footer {
    color: $text-grey;
    text-align: center;
}

.headshot {
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;

    box-shadow: $accent1 -5px 5px, $accent2 -10px 10px, $accent3 -15px 15px, $accent4 -20px 20px;
}

.logo-dark,
.logo-light {
    width: fit-content;
    text-align: left;
    min-width: 30vw;
}

.logo-light {
    display: block;
}

.logo-dark,
.main-logo-dark {
    display: none;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    color: black;
    font-weight: bold;

    margin-bottom: 20px;


    >div {
        border: 2px solid red;
        padding: 5px 10px;
        border-radius: 50px;

        &.art {
            border-color: $accent1;

            &::before {
                content: "Art";
            }
        }

        &.programming {
            border-color: $accent2;

            &::before {
                content: "Programming";
            }
        }

        &.design {
            border-color: $accent3;

            &::before {
                content: "Design";
            }
        }

        &.production {
            border-color: $accent4;

            &::before {
                content: "Production";
            }
        }
    }
}


.left {
    text-align: left;
    margin: 0 50px;
}

@media screen and (max-width: 800px) {
    nav {
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
        row-gap: 10px;

        flex-wrap: wrap;

        height: auto;
        padding-bottom: 10px;

        #home-link {
            align-items: center;
            justify-content: center;

            height: 50px;
            width: 100vw;
        }
    }

    .hero {
        text-align: center;

        padding: 50px 20px;

        h1 {
            font-size: 32pt;
            line-height: 36pt;
        }
    }

    #tags {
        margin: 20px;
        gap: 10px;

        width: auto;
    }

    #cards {
        padding: 0 20px;

        >a {
            min-height: auto;
        }
    }

    .content {
        padding: 50px 20px;
    }

    .hide-on-mobile {
        display: none !important;
    }

    .left {
        margin: 0 20px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $bg-dark;
        color: white;
    }

    nav {
        // border-bottom-color: $text-grey;

        .topbar-link {
            color: white;

            &:hover:not(.current) {
                animation-name: rainbow-dark;
            }

            &.current {
                background-color: white;
                color: black;
            }
        }

        #home-link {
            color: white;
            fill: white;

            &:hover {
                animation-name: rainbow-dark;
            }
        }
    }

    .frontpage-grid {
        >* {
            background-color: $bg-dark;
            border-color: $dark-border;
            color: white;
        }
    }

    #cards>a {
        background-color: $bg-dark;
        border-color: $dark-border;
        color: white;
    }

    #tags {
        .filter-button:hover {
            animation-name: rainbow-dark;
        }

        .filter-button.bold {
            background-color: white;
            color: black;
        }
    }

    .content {
        a {
            background-color: $bg-dark;
            color: white;

            &:hover {
                animation-name: rainbow-dark;
            }
        }

        .card {
            background-color: $bg-dark;
            border-color: $dark-border;
        }
    }

    .hl {
        border-bottom-color: $dark-border;
    }

    .logo-dark,
    .main-logo-dark {
        display: block;
    }

    .logo-light,
    .main-logo-light {
        display: none;
    }

    .tags {
        color: white;
    }
}